.cancel, .star {
	overflow: hidden;
	float: left;
	margin:0 1px 0 0;
	width: 16px;
	height: 16px;
	text-indent: -999em;
	cursor: pointer
}
.cancel, .cancel a { background: url("../../io_images/bluecarousel/delete.gif") no-repeat 0 -16px !important }
.cancel a, .star a {
	display: block;
	width: 100%;
	height: 100%;
	background-position: 0 0
}
.star {
	position: relative;
	top:3px;
	float: left;
	height: 9px;
	width: 11px;
	overflow: hidden;
	margin-bottom:10px;
	text-indent: -999em;
	cursor: pointer;
}
.star, .star a { background:url("../../io_images/bluecarousel/star.gif") no-repeat 0 0 }
div.star_on a { background-position: 0 -9px }
div.star_hover a, div.star a:hover { background-position: 0 -9px }
div.star.star_readonly a:hover{background-position:0 0;cursor:text}
div.star.star_readonly.star_on a{background-position:0 -29px;cursor:text}
.home_top_tab .star{cursor:text}