
			/* Page Elements */
			
		
			/* Form Elements */
				label {
					position:			relative;
					display:			block;
					
					width:				100px;
					clear:				both;
					border:				0px solid #efefef;
					
					padding-left:10px;
				}
				
				
				
				
				label.nocontent {
					border:				none;
					padding:  10px;
				}
				
				label.active {
					/*background-color:	#DBF9C7;
					border:				1px solid green;
				*/}
				
				label.error {
				/*	background-color:	#ecd0ce;
					border:				1px solid red;*/
				}				
				
				label.required {
					background-image:	url(../../io_images/design_images/jqueryvalform/required.gif);
					background-repeat:	no-repeat;
					background-position:center left;
				}	
				
				label.isgood {
					background-image:	url(../../io_images/design_images/jqueryvalform/tick.gif);
					background-repeat:	no-repeat;
					background-position:center left;
				}
				
				label input {
					width:				250px;
					
					padding:			8px;
					font-size:			1.2em;
					border:				2px solid #afafaf;
				}
				
				
				label input.active {
					/*border:				1px solid green;*/
				}
				label input.error {
					background-color: #FDF7F7;
    border: 1px solid #DF1E31;
    box-shadow: 1px 1px 5px 0 #DAD4D4 inset;
				}				
				#formsubmit {
					width:				150px;
				}
				
				
				/* Info pop up classes */
				.infopop {
					display:			block;
					position:			absolute;
					left:				268px;
					top:				-5px;
					background:			transparent url(../../io_images/design_images/jqueryvalform/popup.gif) no-repeat top left;
					
					color:				#000000;
					font-size:			9px;
					width:				220px;
					height:				82px;
					
					color:#666;
				line-height:11px;
				
				
				padding-top:20px;
				padding-left:25px;
				font-size:11px;
					
					margin-left:20px;
					
					
				}
				/*
				.infopop {
                display:			block;
					position:			absolute;
					left:				268px;
					top:				5px;
					color:				#000000;
					font-size:			10px;
					width:				200px;
					height:				auto;
					color:#666;
				line-height:11px;
				
				padding:15px;
				font-size:11px;
					
					margin-left:35px;
				background: #88b7d5; border: 3px solid #c2e1f5; } 
				
				.infopop:after, .infopop:before { right: 100%; top: 50%; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none; } 
				
				.infopop:after { border-color: rgba(136, 183, 213, 0); border-right-color: #88b7d5; border-width: 5px; margin-top: -5px; } 
				
				.infopop:before { border-color: rgba(194, 225, 245, 0); border-right-color: #c2e1f5; border-width: 10px; margin-top: -10px; }
				*/

				.email-popup{
				
				margin-top:-8px;
				margin-left:-5px;
				
				
				}
				
				.password-popup{
				
				 margin-top:0px;
				 margin-left:-10px;
				}
				
				.errorpop {
					background-image:	url(../../io_images/design_images/jqueryvalform/popuperr.gif);
					color:#666;
				line-height:11px;
				padding:18px;
				
				font-size:11px;
				}
				
				/*
				.errorpop {
                display:			block;
					position:			absolute;
					left:				268px;
					top:				5px;
					color:				#000000;
					font-size:			10px;
					width:				200px;
					height:				auto;
					color:#666;
				line-height:11px;
				
				padding:15px;
			
					
					margin-left:35px;
				background: #fff; border: 3px solid #c2e1f5; } 
				
				.errorpop:after, .errorpop:before { right: 100%; top: 50%; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none; } 
				
				.errorpop:after { border-color: rgba(136, 183, 213, 0); border-right-color: #88b7d5; border-width: 5px; margin-top: -5px; } 
				
				.errorpop:before { border-color: rgba(194, 225, 245, 0); border-right-color: #c2e1f5; border-width: 10px; margin-top: -10px; }
				
				*/
				
				#securtiy_captcha .errorpop {
				
				margin-top:10px;
				margin-right:5px;
				margin-left:25px;
				} 
				
				#securtiy_captcha{
				
				margin-left:-5px;
				
				}
				.username-popup{
				
				margin-left:-5px;
				margin-top:0px;
				}
				
				.label_name_reg{
				
				font-weight:bold;
				padding-top:10px;
				padding-left:10px;
				color:#555555;
				}
				
				#captcha{
				
				width:65px;
				padding:15px;
				margin-left:-4px;
				}
				.asterix_red{
				
				color:red;
				padding-left:2px;
				}
				